<p hidden onload="initialize_dependencies()">
<script src="depends.js"></script>

<dependencies>
<%_ for(var i in dependencies) { %>
    <% let dep=dependencies[i] %>
    <depends master="<%=dep['Master']%>" slave="<%=dep['Slave']%>" inverse="<%=dep['Inverse']%>">
<% } %>
</dependencies>
</p>
