<!-- views/ihm/group.ejs -->

<%_ var current_name = '' %>
<% if (content.hasOwnProperty('Name')) { %>
    <% current_name = content['Name'] %>
<% } %>
<% var custom_group_style = 'p' %>
<% if (content.hasOwnProperty('GroupType')) { %>
    <% if (content['GroupType'] == 'HorizontalGroup') { %>
        <% custom_group_style='a' %>
    <% } %>
<% } _%>

<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <% if (content.hasOwnProperty('Key')) { %>
        <fieldset id="<%=content['Key']%>">
    <% } else { %>
        <fieldset>
    <% } %>

    <legend>  <%=current_name%> </legend>
    
    <%_ if ( content.hasOwnProperty('content')) { %>
        <% if (custom_group_style == 'p') { %>
            <p>
        <% } else {%>
            <span>
        <% } %>
            <%- include("./readJsonContent", {content:content['content'], custom_style:custom_group_style} ) %>
        <% if (custom_group_style == 'p') { %>
            </p>
        <% } else {%>
            </span>
        <% } %>
    <% } %>
    </fieldset>
<% if (custom_style == 'p') { %>
    </p>
<% } else { %>
    </span>
<% } _%>
