<!-- views/ihm/label.ejs -->
    
<%_ if (custom_style == 'p') { %>
    <p>
<% } else {%>
    <span>
<% } _%>

    <label for= "<%=content['Key'] %>"> <%=content['Name'] %> </label>
    
<%_ if (custom_style == 'p') { %>
    </p>
<% } else {%>
    </span>
<% } _%>
